* {
    margin: 0;
    padding: 0;
}

#showcase h3 {
    padding: 1rem;
    margin-top: 1rem;
}

footer {
    text-align: center;
    padding: 2rem;
    background-color: #1F2937;
    color: white;
}

a {
    text-decoration: none;
    color: white;
    margin-right: 0.5rem;
}

a:hover {
    color: rgb(155, 155, 155);
}

button {
    background-color: #3882f6;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    color: white;
    border-radius: 0.5rem;
    border-width: 0.1rem;
    border-color: white;
    font-weight: 800;
}

button:hover {
    background-color: #2161c9;
    color: rgb(0, 0, 0);
    cursor: grab;
}


#header-logo {
    font-size: 18px;
}



#menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

#hero {
    background-color: #1F2937;
    color: white;
}

#header {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: space-evenly;
}

.header-item {
    padding: 1rem;
    font-size: 1.125rem;
    color: #e5e7eb;
    width: 400px;
}

.header-item h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #f9faf8;
}

.header-item img {
    width: 400px;
    height: 250px;
    border-radius: 1rem;
}

#showcase {
    text-align: center;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
}

#showcase h3 {
    font-size: 2.25rem;
    font-weight: 800;
    color: #1f2937;
}

#showcase-items-container {
    display: flex;
    justify-content: center;
}

.showcase-item {
    font-size: 0.8rem;
}

.showcase-item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-width: 4px;
    border-radius: 15%;
    border-style: solid;
    border-color: rgb(5, 5, 133);
    margin-top: 3rem;
    margin-bottom: 1rem;

}

#quote {
    background-color: #E5E7EB;
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 5rem;

}

#quote p {
    max-width: 55%;
    padding: 1rem;
    margin: 0 auto;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 100;
}

#call-to-action {
    background-color: #3882f6;
    color: white;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 75%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 8px;
}

figcaption {
    text-align: right;
    padding-right: 20%;
}